@charset "utf-8";

$breakpoint: 980px;
$sidebarWidth: 250px;
$topbarHeight: 70px;

$fontSize: 1rem;
$bodyBgColor: #edf0f5;
$textColor: #333333;
$textSecondaryColor: #707070;
$transitionDuration: .3s;
$maskBgColor: #424242;
$focusShadowColor: #8dcdff;
