@charset "utf-8";

$breakpoint: 980px;
$sidebarWidth: 250px;
$topbarHeight: 70px;

$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$fontSize: 1rem;
$bodyBgColor: #edf0f5;
$textColor: #333333;
$textSecondaryColor: #707070;
$transitionDuration: .3s;
$maskBgColor: #424242;
$focusShadowColor: #8dcdff;
